<!DOCTYPE html>
<html>
<head>
    <title>Login - Quasik Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="login-container">
    <h1>Login to Quasik Dashboard</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>
</div>
<body class="login-body">

</body>
</html>
